<template>
    <layout></layout>
</template>

<script setup lang="ts">
// import layout from "./layout/index.vue";
import axios from "axios";

let data = { name: "john", lastname: "doe" };
axios.post("http://localhost:9030/code/action.php", data);
</script>

<style lang="less">
html,
body,
#app {
    height: 100%;
    overflow: hidden;
}
</style>
